.favorites-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.favorites-page h1 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  color: #566280;
  text-align: center;
}

.favorite-card {
  border-radius: 1.2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.empty-favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 1rem;
}

.empty-favorites mat-icon {
  font-size: 64px;
  width: 64px;
  height: 64px;
  color: #ccc;
  margin-bottom: 1rem;
}

.empty-favorites p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.favorite-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ecebf5;
}

.favorite-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background-color: #fafafa;
  border-radius: 1rem;
}

.item-image {
  width: 95px;
  height: 95px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.item-details {
  flex: 1;
}

.toy-name {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #597194;
}

.price-wrapper {
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  background-color: #eeeff4;
  border-radius: 2rem;
  display: inline-block;
}

.item-meta {
  margin: 0;
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 0.4rem;
}

#fav-toy {
    color: #ec679ec4;
    transition: transform 0.1s ease-in-out;
}

#fav-toy:hover{
    transform: scale(1.15);
}

.favorite-item {
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.favorite-item:hover {
  box-shadow: 0 4px 7px rgba(0,0,0,0.08);
}

.price, .description-text{
  color: #56708f;
}

.description-text{
  margin: 8px 0 17px 0;
}

.price {
  margin: 0;
  font-weight: 500;
}
